extends layout

block content
    br
    br
    br
    div.mui--text-display3 rodb.kudesnik.cc
    br
    br
    br
    a.mui-btn.mui-btn--raised(href="./mob/") Mob search
    +space
    a.mui-btn.mui-btn--raised(href="./item/") Item search